/* body{
    background-color: bisque;
} */
 body{
    background-color:  #F6F9FF;;
 }
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}
.logo{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 800;
}
.sign{
    border: none;
    background-color: #4E47FF;
    color: white;
    display: block;
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    border-radius: 10px ;
    margin-right: 150px;
}
.sign:hover{
     cursor: pointer;
    background-color: black;
    color: orange;
    font-weight: bold;
    font-size: 30px;
    transition: all 1.5s;
}
 .banner{
    height: 658px;
 width: 100%;
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    
    
 }
 .nav{
    display: flex;
    justify-content: space-between;
 }
 .logo{
    margin-left: 150px;
 }
 .heading{
    font-weight: 700;
    text-align: center;
    font-size: 65px;
    margin-top: 300px;
      font-family: "Raleway", sans-serif;
    

 }
.stay{
      border: none;
    background-color: #4E47FF;
    color: white;
 
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    border-radius: 10px ;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.stay:hover{
    cursor: pointer;
    background-color: black;
    color: orange;
    font-weight: bold;
    font-size: 30px;
    transition: all 1.5s;
}
.banner-two{
    text-align: center;
}
.action{
    display: flex;
    height: 328px;
    width: 1140px;
    margin-top: 100px;
    justify-content: space-between;
    /* text-align: center; */
    margin:0 auto;
    justify-items: center;
    margin-top: 116px;
}
.conf{
    border-radius: 48px;
}
.title{
    font-size: 42px;
    font-weight: 700;
      font-family: "Raleway", sans-serif;
}
.sub-title{
font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-top: 20px;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  
}
.live{
     border: none;
    background-color: #4E47FF;
    color: white;
    width: 220px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: left;
    margin-right: 200px;
}
.live:hover{
     cursor: pointer;
    background-color: black;
    color: orange;
    font-weight: bold;
    font-size: 25px;
   width: 270px;
   border-radius: 15px;
    transition: all 1.5s;
}
.left-side{
    margin-top: 70px;
}
.user-rate{
    display: flex;
    justify-content: space-around;
}
.useer-title{
    text-align: center;
     font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    padding-top: 50px;
}
.productive-users{
    height:306px ;
    width:1140px;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
 
    
}
.big{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-top: 60px;
}
/* .user-title{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
   padding-top: 50px;
  
} */

.small{
    font-size: 20px;
     font-family: "Inter", sans-serif;
     color: #000000;
     opacity: 0.5;
     justify-content: space-between;
     display: flex;
     align-items: center;
 
}
.smalll{
    
    font-size: 20px;
     font-family: "Inter", sans-serif;
     color: #000000;
     opacity: 0.5;
     margin-top: 18px;
    

}



.feedback-container{
    display: flex;
    gap: 24px;
    
}
.user{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;

    
}
.users{
    height:342px ;
    width: 1240px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.section-title{
     font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 700;
}
.user-title{
font-size: 20px;
text-align: left;
margin-top: 10px;
margin: 0;
padding: 0;
margin-top: 20px;
}
.review-img{
    display: flex;
   margin-top: 20px;
}
.rev-name{
    display: block;
}
.letter{
    margin-left: 20px;
}
.rev-date{
    color: #b3b3b3;
}
.rev-name{
    color: #757575;
}
.avatar{
    border-radius: 50%;
}
.display{
    height:696px;
    width: 1140px;
     padding: 30px;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 161px;
}
.display-up{
    text-align: center;
}
.display-img{
    margin: 0 auto;
    text-align: center;
       display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  margin-top: 50px;
  border-radius: 48px;
 
     
}
.display-title{
    font-size: 50px;
    font-weight: bold;
     font-family: "Raleway", sans-serif;
}
.display-details{
     font-family: "Inter", sans-serif;
     color: #000000;
     opacity: 0.5;
     margin-top: 18px;}

.dis-btn{
        margin: 0 auto;
        margin-top: 50px;
}
.touch{
    display: flex;
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    justify-content: space-around;
}
 .touch input[type="text"],.touch input[type="email"],.touch textarea{
    height: 44px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
 }
 .btn{
    height: 44px;
    border-radius: 5px;
  
    /* display: block; */
    width: 100%;
    padding: 15px 100px;
    margin-bottom: 24px;
    border: none;
    background-color: #4E47FF;
    color: white;
    
 }

 .left-tuch-title{
    font-size: 97px;
    font-weight: bold;
     font-family: "Raleway", sans-serif;
 }
 .inter{
    font-size: 18px;
     font-family: "Inter", sans-serif;
     font-weight: 400;
 }
 .last{
    text-align: center;
    height: 428px;
    width: 100%;
    background-color: white;
    justify-content: center;
   
  
 }
 .footer-title{
    text-align: center;
     font-family: "Inter", sans-serif;
     font-size: 100px;
     color: #4E47FF;
     font-weight: 900;
    
    

 }
 .footer-title:hover{
text-align: center;
     font-family: "Inter", sans-serif;
     font-size: 110px;
     color: #4E47FF;
     font-weight: 900;
     transition: all 1s;
    
 }

 .sub-title{
    font-size: 20px;
    color: #8987A1;
      margin-top: 30px;
 }
 .links{
    margin-top: 30px;
    
 }
 .links a{
    text-decoration: none;
    color: #8987A1;
    padding: 20px;
 }
 .links a:hover{
    color: black;
     font-family: "Inter", sans-serif;
     font-size: 23px;
 }