/* body{
    background-color: bisque;
} */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;

}
.logo{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 800;
}
.sign{
    border: none;
    background-color: #4E47FF;
    color: white;
    display: block;
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    border-radius: 10px ;
    margin-right: 150px;
}
 .banner{
    height: 658px;
 width: 100%;
    background-image: url("../Assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    
    
 }
 .nav{
    display: flex;
    justify-content: space-between;
 }
 .logo{
    margin-left: 150px;
 }
 .heading{
    font-weight: 700;
    text-align: center;
    font-size: 65px;
    margin-top: 300px;
      font-family: "Raleway", sans-serif;
    

 }
.stay{
      border: none;
    background-color: #4E47FF;
    color: white;
 
    padding-left: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 36px;
    border-radius: 10px ;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
.banner-two{
    text-align: center;
}
.action{
    display: flex;
    height: 328px;
    width: 1140px;
    margin-top: 100px;
    justify-content: space-between;
    /* text-align: center; */
    margin:0 auto;
    justify-items: center;
    margin-top: 116px;
}
.conf{
    border-radius: 48px;
}
.title{
    font-size: 42px;
    font-weight: 700;
      font-family: "Raleway", sans-serif;
}
.sub-title{
font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #252432;
  margin-top: 20px;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
  
}
.live{
     border: none;
    background-color: #4E47FF;
    color: white;
    width: 220px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: left;
    margin-right: 200px;
}
.left-side{
    margin-top: 70px;
}
.user-rate{
    display: flex;
    justify-content: space-around;
}
.user-title{
    text-align: center;
}
.productive-users{
    height:306px ;
    width:1140px;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
 
    
}
.big{
    font-family: "Inter", sans-serif;
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    margin-top: 60px;
}
.user-title{
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
   padding-top: 50px;
  
}

.small{
    font-size: 20px;
     font-family: "Inter", sans-serif;
     color: #000000;
     opacity: 0.5;
     justify-content: space-between;
     display: flex;
     align-items: center;
 
}
.smalll{
    
    font-size: 20px;
     font-family: "Inter", sans-serif;
     color: #000000;
     opacity: 0.5;
     margin-top: 18px;
    

}



.feedback-container{
    display: flex;
    gap: 24px;
    
}
.user{
    padding: 60px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    justify-content: space-around;
    margin-left: 70px;
    
}
.text-center{
    text-align: center;
}
.section-title{
     font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: 700;
}
